<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | BarberPro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Lora&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1>Error</h1>
    </header>

    <main class="container">
        <section class="hero">
            <p class="hero-text">Lo sentimos, ha ocurrido un error inesperado.</p>
            <a href="/" class="button">Volver al Inicio</a>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2025 BarberPro.</p>
    </footer>
</body>

</html>